/build/
/build-*/
/OutputFiles/*
!/OutputFiles/.gitkeep
/InputFiles/Generated/*
!/InputFiles/Generated/.gitkeep
*.part_*.root
.idea/
cmake-build-*/

# Image types
*.png
*.pdf
*.jpg
*.jpeg
*.gif

# Flamegraph stuff
/perf*
/*-flamegraph.svg

#data types
*.csv
*.data
*.root

# Python analysis products
__pycache__/
AnalysisScripts/outputs/
