/build/
/build-*/
*.part_*.root
.idea/
cmake-build-*/

# Image types
*.png
*.pdf
*.jpg
*.jpeg
*.gif

# Flamegraph stuff
/perf*
/*-flamegraph.svg

#data types
*.csv
*.data
*.root
!tutorials/electroproduction_paper/input/*.root

# Python analysis products
__pycache__/
tutorials/**/output/
